
:root{
  --body-bg: black;
  --body-fg: #5deaf7;
  --border-color: #5deaf7; //#ccc;
  --box-fg: #5deaf7; //white;
  --box-bg: black; //#eee;
  --invalid-bg: #222;// #444;
  --invalid-text: rgba(93,234,247,0.3);  // #988;
  --display--input-bg: var(--body-bg); //#222; //black;// #f0f4f8;
  --display--input-fg: white;
  --display-num-input-bg: orange; //var(--body-bg) // #f2f2f1;
  --input-panel: green; //  #f8f8f8;
  --input-panel-num-input-bg: #fefefc;
  --empty-bar-color: rgba(0,0,0,0); // aliceblue;
  --bar-color: rgba(93,234,247,0.3); //rgb(221,221,238);
  --invalid-bar-color: rgba(93,234,247,0.1); //rgb(221,221,238);
}

@font-face {
  font-family: 'Stealth57';
  src: url('m8stealth57.woff2') format('woff2');
}

@font-face {
  font-family: 'Stealth57 Bold';
  src: url('stealth57-bold.woff2') format('woff2');
}

// code {
//   font-family: "Stealth57", Arial, sans-serif;
//   color: var(--box-fg);
// }

body {
  background-color: var(--body-bg);
  color: var(--body-fg);
  //margin: 0;
  padding: 0 0.5em;
  font-family: Arial, sans-serif;
  //display: flex;
  //flex-direction: column;

  //align-items: center;
  //justify-content: space-around
}


header {
  background-color: var(--body-bg);
  //align-self: flex-start;
  //flex:3;
  height: 2em;
  color: var(--body-fg);
  text-align: center;
  font-size: 2rem;
  h1 {
    font-family: "Stealth57", Arial, sans-serif;
  }
  display: block;
  text-align: center;
  overflow: initial
};

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  overflow: visible;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 10vmax;
}


.number-box {
  height: 5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  //justify-content: center;
  align-items: center;
  input {
    max-width: 7rem;
    text-align: center;
  }
  label {
    text-align: center;
    margin-bottom: 0.2rem;
  }
}

.input-panel {
  background-color: var(--input-panel);
  border: .2rem solid var(--border-color);
  padding:  0rem 2rem;
  .number-box input {
    background-color: var(--input-panel-num-input-bg);
    max-width: 7em;
    min-width: 4.5em;
    
    font-size: 250%;
  }
}



.box {
  //min-height: 5.5rem;
  background-color: var(--box-bg);
  color: var(--box-fg);
  border: .2rem solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  //align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
  //font-size: 20pt;
  .number-box {
    flex-basis: 10%; /* Set the initial width to one-third of the available space */
    //flex-grow: 1; /* Allow the box to grow to fill the remaining space */
    padding: .5rem;
    //display: inline-block;
    margin: .25rem;
    vertical-align: top;
    display: grid;
  }
}


.display-panel {
  .number-box {
    input {
      background-color: var(--display--input-bg);
      color: var(--display--input-fg);
      max-width: 5rem;
      margin: 0 1rem;
      border: .2rem solid var(--border-color);
      .box .number-box input {
        background-color: var(--display-num-input-bg);
        flex-shrink: 2; /* Allow the box to shrink to fit the remaining space */

      }
    }
  }

  .bipolar-fixed-number-range {
    input {
      --bar-size: 0%;
      --bar-end-value: calc( 50% + var(--bar-size) );
      --bar-direction: to top;
      background: linear-gradient(
        var(--bar-direction),
        var(--empty-bar-color) 0% 50%,
        var(--bar-color) 50% var(--bar-end-value),
        var(--empty-bar-color) var(--bar-end-value)
      );
    }
  }
}



// label::after {
//   content: "";
//   //display: block;
//   width: 100%;
//   height: 2px;
// }


h1 {
  color: var(--body-fg);
  font-size: 2rem;
}

h2 {
  color: var(--body-fg);
  font-size: 1rem;
  font-weight: 350;

}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

input {
  padding: 10px;
  margin-bottom: 1.2rem;
  font-size: 20pt;
  border-radius: 0.2em;
  border: none;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3);
  max-width: 5rem;
  font-family: "Stealth57", Arial, sans-serif;
}


.invalid-value,  .box .number-box input.invalid-value {
  background-color: var(--invalid-bg) !important;
  color: var(--invalid-text) !important;
}



@media only screen and (max-width: 768px) {

  .display-panel{
    order: 1;
  }

  .input-panel{
    order: 20;
  }

  @media only screen and (max-height: 600px) {
    body{
      font-size: smaller;
    }

    h1 {
      font-size: 0.9em;
    }
    h2 {
      display: none;
    }
    header{
      height: 1.5rem;
    }

    .display-panel{
      margin-bottom: 0.25em ;
    }

    .input-panel{
      order: 20;
      margin-top: 0.55em ;
      padding-bottom: 0em;
    }

  }
}


@media only screen and (max-height: 20em), only screen and (max-width: 25em) {
  header {
  //  display: none;
  }

  input {
    font-size: 16pt;
  }

  body{
    font-size: small;
  }

  .display-panel{
    order: 1;
  }

  .input-panel{
    order: 2;
  }

  .box{
    .number-box{
      padding: .2rem;
    }
  }

}


@media only screen and (max-height: 415px) {
  header {
    display: none;
  }

  .box {
    justify-content: space-between;
    margin: 0.4rem .5rem;
    margin-top: 1rem;
    padding-bottom: 0.5em;
    label{
      margin-bottom: 0.4em;
    }
    height:100%;
  }

  main {
    margin: 0.5rem;
  }
  .container {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .display-panel{
    order: 1;
    flex: 3;
    width: 100%;
    height: 100%;

  }

  .input-panel{
    flex: 1;
    order: 2;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
